nav ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li{
    list-style: none;
}
nav ul li a:hover {
    color: blue;
}
