/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.hero{
    background-image: url('./images/desc1_head.png');
    height: 60vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_select{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    background-color: #ccc;
    padding: 8px;
    justify-content: center;
    border-radius: 10px;
    opacity: 0.6;
}
.one_select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Card Container */
.card-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-container {
    width: 1390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 60px;
    padding: 20px;
}

/* Card Styles */
.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.card_location {
    padding: 20px;
}


.card-content {
    margin-bottom: 15px;
}

.card-content p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

/* Button inside card */
.card-button {
    display: block;
    margin: 0 auto 20px;
    width: 80%;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    form {
        width: 90%;
    }

    select {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
